body{
    background-color: rgba(133,132,1);
    
}
.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}
#main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
    display: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cameraPlaceholder {
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    background-color: #ddd; /* Placeholder color */
    margin-bottom: 20px;
}

#photoPreview {
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    background-color: #ddd; /* Placeholder color */
}